/* Reset de CSS */

/* Remova a margem padrão e preenchimento */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Remova o estilo de lista */
ul, ol {
  list-style: none;
}

/* Defina a fonte do corpo */
body {
  font-family: Arial, sans-serif;
}

/* Remova a decoração de link padrão */
a {
  text-decoration: none;
}

/* Remova a formatação do texto dentro dos botões */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Defina o tamanho da caixa de borda para incluir o preenchimento e a borda */
* {
  box-sizing: border-box;
}